#app-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
  font-size: 50px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}
#app-logo a {
  color: var(--default-dark-color);
  font-family: "Bakbak One", cursive;
  text-decoration: none;
}
